@import 'https://fonts.googleapis.com/css?family=Oswald';
/* ----- font-family: 'Oswald', sans-serif; ----- */

/* ----- structure ---- */
body {
  background-color: #2B5994
}
.wrapper {
  width: 80%
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* ----- type ----- */

h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 5vw;
}

button {
  font-family: 'Oswald', sans-serif;
  font-size: 5vw;
  background-color: Transparent;
  background-repeat:no-repeat;
  border-style: solid;
  border-color: white;
  border-width: thick;
  color: white;
  font-weight: lighter;
  margin: 6vw;
  outline: none;
}
